*~

*.swp

/data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
*.egg

# Unit test
.pytest_cache/

# Sphinx documentation
docs/build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.envrc
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
.vscode/*
!*.code-workspace
# Built Visual Studio Code Extensions
*.vsix

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

